@font-face {
    font-family: 'UVF Futura LT';
    src: url('UVFFuturaLT.woff2') format('woff2'),
        url('UVFFuturaLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

